@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.purple {
  text-decoration: none;
  color: rgb(120, 0, 189);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(251, 72%, 36%, 0.2);
  }
}

